# Core LLM and RAG libraries
langchain
langchain-community
langchain-core
langchain_huggingface
langchain_chroma
langchain_ollama
box

PyPDF2

# For creating the web user interface
streamlit

# For loading and splitting PDF documents
pypdf
langchain-text-splitters

# Vector database for storing embeddings
# chromadb is another popular alternative

# To connect with the local Ollama service
ollama

# For reading configuration files (like config.yml)
pyyaml

# For handling environment variables
python-dotenv

# For making HTTP requests (useful in client-server setups)
requests